.main-container {
    height: 100vh;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 38px;
}

.field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.heading{
    color: #326ab4;
    font-size: 35px;
    margin: 20px auto;
}

.insert-form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.field:focus {
    border-color: #0f7ef1;
}

.btn{
padding: 14px 12px;
width: 150px;
border: 0;
font-size: 18px;
background:#0097ff; 
border-radius: 10px;
margin-top: 25px;
color: #fff;
letter-spacing: 1px;
font-family: 'Times New Roman', Times, serif;
cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 600px) { 
    .main-container { 
        width: 90%; 
        margin: 20px auto; 
    } 
    .heading { 
        font-size: 32px; 
        text-align: center; 
    } 
    .insert-form { 
        max-width: 100%; 
    } 
    .btn { 
        width: 100px; 
    } 
}

@media (min-width: 601px) and (max-width: 1024px) { 
    .main-container { 
        width: 70%; 
        margin: 30px auto; 
    } 
    .heading { 
        font-size: 30px; 
        text-align: center; 
    } 
    .btn { 
        width: 180px; 
    } 
} 

@media (min-width: 1025px) { 
    .main-container { 
        width: 50%;
        margin: 40px auto; 
    } 
    .heading {
        font-size: 40px; 
    } 
    .btn { 
        width: 150px; 
    } 
}
